apiVersion: v1
kind: ConfigMap
metadata:
  name: patroni-config
  namespace: his-masterdb
data:
  patroni.yml: |
    scope: postgres-cluster
    namespace: his-masterdb
    name: ${HOSTNAME}

    restapi:
      listen: 0.0.0.0:8008
      connect_address: ${HOSTNAME}.postgres-patroni.his-masterdb.svc.cluster.local:8008

    etcd:
      hosts: etcd-0.etcd.his-masterdb.svc.cluster.local:2379,etcd-1.etcd.his-masterdb.svc.cluster.local:2379,etcd-2.etcd.his-masterdb.svc.cluster.local:2379

    bootstrap:
      dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
          use_pg_rewind: true
          parameters:
            max_connections: 200
            shared_buffers: 256MB
            effective_cache_size: 768MB
            maintenance_work_mem: 64MB
            checkpoint_completion_target: 0.9
            wal_buffers: 16MB
            default_statistics_target: 100
            random_page_cost: 1.1
            effective_io_concurrency: 200
            work_mem: 655kB
            min_wal_size: 1GB
            max_wal_size: 4GB
            max_worker_processes: 4
            max_parallel_workers_per_gather: 2
            max_parallel_workers: 4
            max_parallel_maintenance_workers: 2

      initdb:
        - encoding: UTF8
        - locale: en_US.UTF-8
        - data-checksums

      pg_hba:
        - local all all trust
        - host all all 0.0.0.0/0 md5
        - host replication replicator 0.0.0.0/0 md5

      users:
        admin:
          password: admin
          options:
            - createrole
            - createdb

    postgresql:
      listen: 0.0.0.0:5432
      connect_address: ${HOSTNAME}.postgres-patroni.his-masterdb.svc.cluster.local:5432
      data_dir: /var/lib/postgresql/data/pgdata
      pgpass: /tmp/pgpass
      authentication:
        replication:
          username: replicator
          password: rep-pass
        superuser:
          username: postgres
          password: postgres123
      parameters:
        unix_socket_directories: /var/run/postgresql

    tags:
      nofailover: false
      noloadbalance: false
      clonefrom: false
      nosync: false
